*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "Montserrat", "Ubuntu", "Avenir Next", Sans-Serif;
  --fontSerif: "Didot", Serif;

  /* Font Sizes */
  --titleSize: 3rem;
  --heading: 2.5rem;
  --subHeading: 2.25rem;
  --bodySize: 1.25rem;
  --bodySmallSize: 0.75rem;

  /* Colours */
  --clrPri: #3c3c3c;
  --clrSec: #707070;
  --clrTri: #f2f2f2;
  --clrAccent: #12252b;

  /* Character spacing */
  --letterSpace: 2px;
  --lineHeight: 2rem;
}
.App {
  text-align: center;
  margin: 10rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: aliceblue;
  width: 50vw;
  height: auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.headerTitle {
  font-family: var(--fontSerif);
  font-size: var(--heading);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpace);
}

.btn {
  border: none;
  padding: 0.75rem 2rem;
  background-color: var(--clrAccent);
  color: var(--clrTri);

  font-family: var(--fontSansSerif);
  font-size: var(--bodySize);
}

.Task {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.Task__item {
  margin-bottom: 2rem;
  background-color: white;
  padding: 1.25rem;
}

.Task__item--text {
  text-align: left;

  font-size: var(--bodySize);
  text-transform: capitalize;
}

.Task__item--text:nth-child(2) {
  margin-top: 1rem;
}

.taskReminder {
  border-left: 5px solid green;
}
